pkgbase = rpi-zram
	pkgdesc = Script to dynamically enable ZRAM on a Raspberry Pi or other Linux system
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/leisureathome/rpi_zram
	arch = any
	makedepends = git
	source = git+https://github.com/leisureathome/rpi_zram.git
	source = rpi-zram.service
	sha512sums = SKIP
	sha512sums = c1ddb7031b33d0d732f401ba854591256fb2b3d483380522c39524fbdbb71e7387fa53b85b189268b54a6b7276298225af4112cf84b087293234157c484e3125

pkgname = rpi-zram

